<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListaRegistrosServlet</servlet-name>
        <servlet-class>br.cesjf.lppo.ListaRegistrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoRegistroServlet</servlet-name>
        <servlet-class>br.cesjf.lppo.NovoRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaRegistroServlet</servlet-name>
        <servlet-class>br.cesjf.lppo.EditaRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiRegistroServlet</servlet-name>
        <servlet-class>br.cesjf.lppo.ExcluiRegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaRegistrosServlet</servlet-name>
        <url-pattern>/lista.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoRegistroServlet</servlet-name>
        <url-pattern>/novo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaRegistroServlet</servlet-name>
        <url-pattern>/edita.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiRegistroServlet</servlet-name>
        <url-pattern>/exclui.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
